header {
    background: url(images/central_park.jpg) 0 -200px no-repeat;
    /*background-image: url(images/central_park.jpg);*/
    background-size: 1500px;
    /*background-position: 0 -200px;*/
    /*background-repeat:no-repeat;*/
    height: 300px;
    padding-top: 100px;
    padding-left: 100px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
}
li {
    list-style-type:none;
    display:inline;
    padding: 0 20px;
}
nav li a { /* contextual selector */
    text-decoration: none;
}
nav li a:link { /* before click */
    color: #000;
}
nav li a:visited { /* after click */
    color: #818db3;
}
nav li a:hover { /* hover above link */
    color: #333;
}
nav li a:active { /* press down */
    color: #753a30;
}
nav {
    background-color: rgb(255, 245, 238);
    text-align:center;
    padding-top: 2px;
    height: 50px;
}
main {
    margin: 50px;
}
main h1 {
    color: rgb(129, 141, 179);
    font-family:Arial, Helvetica, sans-serif;
}
table {
    margin-top: 35px;
}
table, caption, th, td { /* multple selectors */
    border: solid 1px #000;
}
th, td {
    width: 150px;
    height: 35px;
    text-align: center;
}
caption {
    font-weight:600;
    height: 40px;
    padding-top: 15px;
    color: #753a30;
    text-transform: uppercase;
}
label {
    display: block;
    margin: 15px 0 0 0;
}
input, textarea {
    width: 300px;
}
input[type="radio"] {
    width: 25px;
}
input[type="submit"] {
    display: block;
    width: 100px;
    margin: 20px 0 10px 0;
}
main #album #photo img {
    width: 400px;
}
footer {
    height: 40px;
    background-color: rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color: rgb(211, 218, 240);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;  /* 16px = 1em = 1rem = 100% = 12pt || 14px = 0.9em = 0.9rem = 90% = 11pt */
}